nav{
	/*Die Navbar hat eine feste Größe in px, da ich keine andere Möglichkeit gesehen habe, den editor auf den Rest des Bildschirms zu skalieren*/
	position:absolute;
	height:55px;
	top:0px;
	left:0px;
	right:0px;
}

#mainContainer {
  position: absolute;
  top: 55px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.modal-content {
  /* Disable selecting text inside the modal */
  -webkit-user-select: none;  /* Chrome, Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE 10+ */
}

.ace_jml_comment{
  color:#009955
}

.ace_jml_keyword{
  color:#2fa
}

.ace_jml_predicate{
  color:#2ff
}

.rightSide {
  position : relative;
  top : 0px;
  left: 0px;
  height: 100%;
  width: auto;
  overflow:hidden;
}

#editor {
        position: absolute; /* Added */
        height: 98%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
}

#editor_container {
  width: 100%;
  height: 98%;
}

.errorMarker {
  position:absolute;
  z-index:20;
  color: red;
  text-decoration: none;
  background: url(graphics/error-underline.png) bottom repeat-x;
}

.warningMarker {
  position:absolute;
  z-index:20;
  color: red;
  text-decoration: none;
  background: url(graphics/warning-underline.png) bottom repeat-x;
}

.not_supportedMarker {
  position:absolute;
  z-index:20;
  background: url(graphics/not-supported-underline.png) bottom repeat-x;
}

.ace_gutter-cell.ace_not_supported {
  background-image: url(graphics/not-supported-annotation.png);
  background-position: 2px center;
}

/*TODO: NOCH MIT ANTON ABSPRECHEN! */
html, body {margin: 0; height: 100%; overflow: hidden}

.ace_gutter-cell.obligation_todo {
  background-image: url(graphics/obligation-todo.png);
  background-position: 4px center;
  cursor: pointer;
}

.ace_gutter-cell.obligation_done {
  background-image: url(graphics/obligation-done.png);
  background-size: 16px;
  background-position: 2px center;
  cursor: pointer;
}

/* rightclick menu stuff */
.react-contextmenu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    color: #373a3c;
    font-size: 16px;
    margin: 2px 0 0;
    min-width: 160px;
    height: auto;
    width: auto;
    display: table;
    outline: none;
    opacity: 0;
    padding: 5px 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.react-contextmenu-item {
    background: 0 0;
    border: 0;
    color: #373a3c;
	cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    padding: 3px 20px;
    text-align: inherit;
    white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
    color: #878a8c;
}

.react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
	padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.example-multiple-targets::after {
    content: attr(data-count);
    display: block;
}
