nav{
	/*Die Navbar hat eine feste Größe in px, da ich keine andere Möglichkeit gesehen habe, den editor auf den Rest des Bildschirms zu skalieren*/
	position:absolute;
	height:55px;
	top:0px;
	left:0px;
	right:0px;
}
#editor{
	position:absolute;
	top:55px;
	left:0px;
	right:0px;
	bottom:0px
}

.errorMarker {
  position:absolute;
  z-index:20;
  color: red;
  text-decoration: none;
  background: url(error-underline.png) bottom repeat-x;
}

.warningMarker {
  position:absolute;
  z-index:20;
  color: red;
  text-decoration: none;
  background: url(warning-underline.png) bottom repeat-x;
}
