.sidebarRestoreHandle {
  float: left;
  height: 100%;
  background-color: #212121;
  color: white;
  text-align: center;
  width: 10px;
  cursor: pointer;
}

.sidebarRestoreButton {
  margin-top: 0.8em;
}

.sidebar {
  background-color: #455a64;
  color: #cfd8dc;
  width: 300px;

  float: left;
  height: 100%;
}

.sidebarMainContainer {
  margin-left: 200px;
  height: 100%;
}

.sidebar-split-bar {
  background-color: #212121;

  cursor: col-resize;

  float: right;

  width: 4px;
  height:100%;
}

.sidebarToggleButton {
    /*circle shaped background*/
    /*(the button shall not be transparent, but rectangle backgrounds would
       have been ugly)*/
    border-radius: 50%;
    width: 1em;
    height: 1em;
    text-align: center;
    vertical-align: middle;
    line-height: 1;

    background-color: #455a64;
    color: #cfd8dc;

    position: relative;
    display: inline-block;
    top: 0.5em;
    left: calc(100% - 1.8em);

    cursor: pointer;
}

.sidebarContent {
    margin-left: 0.5em;
    margin-top: -1em;

    white-space: nowrap;
    user-select: none;
    overflow: hidden;
}

.projectTreeList {
    list-style-type: none;
    padding-left: 1em;
}

.projectTreeIcon {
    margin-right: 0.5em;
    color: #caa576;
}
