span.login-text {
    font-size: 22px;
    display:table;
    margin-top: auto;
    margin-bottom: auto;
}

.circle{
  width: 25px;
  height: 25px;
  border-radius: 100%;
  font-size: 15px;
  color: #fff;
  line-height: 25px;
  text-align: center;
  margin-left: 0.2em;
  margin-top: auto ;
  margin-bottom: auto ;
}
