.n0.highlightingMarker {
  background: #4CAF50
}
.n1.highlightingMarker {
  background: #FF5722
}
.n2.highlightingMarker {
  background: #448AFF
}
.n3.highlightingMarker {
  background: #00BCD4
}
.n4.highlightingMarker {
  background: #D32F2F
}
.n5.highlightingMarker {
  background: #FF4081
}
.n6.highlightingMarker {
  background: #9E9E9E
}
.n7.highlightingMarker {
  background: #FFEB3B
}
.n8.highlightingMarker {
  background: #009688
}
.n9.highlightingMarker {
  background: #7C4DFF
}
.highlightingMarker {
  background: #0ae;
  position: absolute;
  pointer-events: auto;
}
